@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
  will-change: filter;
  transition: filter 0.75s;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

@layer base {
  body {
    @apply bg-[#1E1E1E] text-white;
  }
}